extends layout

block content
  h1(id="title")= title

  if (toShow == null)
    h2 No instance to update
  else
  - let ballonid = toShow._id
  - let ballontype = toShow.ballon_type
  - let size = toShow.size
  - let cost = toShow.cost
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{ballonid}
  - let actionid = "/resource/ballon/" + ballonid
  form(id='ballonForm', action= actionid, method="PUT")
    div.form-group
        label.ballonAttr(ballonor='ballontype') ballontype
        input#ballontype(type='text', name='ballontype', value= ballontype )
    div.form-group
        label.ballonAttr(for='size') Size
        input#size(type='text', name='size', value= size )
    div.form-group
        label.ballonAttr(for='cost') Cost
        input#cost(type='number', name='cost', value= cost )
    input(type="submit")
  script.
    document.forms['ballonForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });