extends layout

block content
  h1= title
  p Welcome to #{title}
  p A warm smile is the universal language of kindness. 
  button(type="button", class="btn btn-danger" onclick="moreClaps()") PressMe
  div(id ='target') Clap for me 

  script.
      var clap_count = 0;
      function moreClaps(){
        clap_count = clap_count + 2;
        document.getElementById("target").innerHTML = 'Clap '+ clap_count +' times';
      }
      
  - var baloon = ['Baloon_Color','Baloon_type','Baloon_Size'] 
  a(href='/ballon') Click here to search about baloon